@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary-50: oklch(97.91% 0.013 228.92);
  --color-primary-100: oklch(95.74% 0.025 225.31);
  --color-primary-200: oklch(91.36% 0.058 221.47);
  --color-primary-300: oklch(85.4% 0.102 219.79);
  --color-primary-400: oklch(79.79% 0.135 221.23);
  --color-primary-500: oklch(73.48% 0.139 225.66);
  --color-primary-600: oklch(64.05% 0.129 231.05);
  --color-primary-700: oklch(53.83% 0.11 232.43);
  --color-primary-800: oklch(47.49% 0.093 229.93);
  --color-primary-900: oklch(41.56% 0.079 230.99);
  --color-primary-950: oklch(31.08% 0.06 233.98);
}

/* Resellers styles */
@import "../content/reseller/alospits/styles.css";
@import "../content/reseller/promocionespanama/styles.css";
@import "../content/reseller/enigma/styles.css";
@import "../content/reseller/daninori/styles.css";
@import "../content/reseller/autofix/styles.css";
@import "../content/reseller/pub23/styles.css";
@import "../content/reseller/juanbar/styles.css";
@import "../content/reseller/autodromopanama/styles.css";
@import "../content/reseller/mdelicious/styles.css";

@layer components {
  .payment-btn {
    @apply text-white inline-flex font-bold w-full justify-center items-center gap-2 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-xl text-center px-4.5 py-4 transition ease-in duration-150;
  }

  .payment-btn i {
    @apply block [&>*]:h-3.5 w-auto
  }

  .payment-link {
    @apply underline w-full flex justify-end items-center gap-2 leading-tight text-base font-bold hover:text-primary-700 transition ease-in duration-150;

  }

  .payment-link i {
    @apply block [&>*]:h-5 w-auto
  }
}