---
import EventPrice from './EventPrice.astro'
import EventComission from './EventComission.astro'

const { price, commission } = Astro.props
---

<section id="event-price" class="flex items-center gap-1">
	<EventPrice value={price} />
	<EventComission value={commission} />
</section>
