---
const { price, commission } = Astro.props;
---

<section id="event-price" class="flex items-center gap-1">
	<h4 class="leading-tight text-xl font-bold text-gray-900">
		<span class="sr-only">Subtotal</span>
		${price}
	</h4>

	<p class="leading-tight text-base font-semibold">
		<span class="sr-only">Comisiones</span>
		(+${commission} de servicio)
	</p>
</section>
