---
import EventCard from '@/components/Event/Event.astro';

import Event from '@/models/Event';
import Reseller from '@/models/Reseller';

export interface Props {
	events: Event[];
	reseller?: Reseller;
}

const { events, reseller } = Astro.props as Props;
---

<section id="experiences" class="flex flex-wrap gap-8 p-4 place-content-center">
	<h2 class="text-4xl font-bold text-center text-primary-600">Nuestras experiencias</h2>

	{events.map((event) => <EventCard event={event} reseller={reseller} />)}
</section>
