---
const { url, Icon } = Astro.props
---

<a
	href={url}
	class="rounded-full bg-primary-100 text-primary-700 size-16 flex items-center justify-center shadow-md
				 hover:shadow-lg hover:bg-primary-600 hover:text-primary-50"
>
	<Icon class="size-8" />
</a>
