---
import Isotype from '../../assets/iso-blanco.svg'
---

<section id="event-actions" class="flex flex-col gap-4 items-start">
	<a
		href="https://wa.me/50768344546?text=Hola%2C%20me%20interesa%20reservar%20boletos%20para%20Panama%20City%20200."
		class="text-white text-xl bg-primary-600 flex items-center gap-2.5 px-8 py-4 rounded-lg justify-center"
	>
		<Isotype class="h-5" />
		Resérvalo por $35
	</a>
</section>
