---
import Logo from '../../assets/logo.svg'
import Experiences from './Experiences.astro'
---

<section class="mx-auto flex flex-col items-center gap-8 pt-8 px-4">
	<Logo class="w-72" />
	<figcaption class="contents">
		<h1 class="sr-only">A cuotas App</h1>
	</figcaption>
	<div class="text-center text-gray-600 text-lg font-bold w-xs">
		Reserva <Experiences />
		<br /> con un abono incial y el resto <span class="text-primary-600"
			>#PágaloAcuotas</span
		>
	</div>
</section>
