---
import Logo from '../../assets/logo.svg'
---

<section class="mx-auto flex flex-col items-center gap-8 pt-8 px-4">
	<Logo class="w-72" />
	<figcaption class="contents">
		<h1 class="sr-only">A cuotas App</h1>
	</figcaption>
	<p class="text-center text-gray-600 text-xl font-normal">
		Compra entradas en cuotas fijas, sin crédito, y asegura tu lugar fácilmente.
	</p>
</section>
