---
import Logo from '../../assets/logo.svg'
---

<section class="mx-auto flex flex-col items-center gap-8 pt-8 px-4">
	<Logo class="w-72" />
	<figcaption class="contents">
		<h1 class="sr-only">A cuotas App</h1>
	</figcaption>
	<p class="text-center text-gray-600 text-lg font-bold">
		Reserva lo que quieras con un abono incial y el resto #PagaloACuotas
	</p>
</section>
